// components
.button {
  color: $color-light;
  font-weight: $weight-regular;
  background: $color-main;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  transition: $transition-main;
  // size
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  line-height: 3.6rem;
  border: 0.2rem solid $color-main;
  border-radius: .7rem;
  width: 9rem;
  height: 4rem;

  &:hover,
  &:focus {
    background: $color-dark;
    color: $color-main;
  }

  &:active {
    border: 0.2rem solid $color-active;
    background: $color-dark;
    color: $color-active;
  }
}

.searchbar {
  &__title {
    color: $color-medium;
    font-weight: $weight-regular;
    // size
    font-size: 2rem;
    letter-spacing: 0.4rem;
  }

  &__input {
    color: $color-dark;
    font-weight: $weight-regular;
    border: 0 solid $color-main;
    outline: 0;
    display: inline-block;
    width: 100%;
    max-width: calc(100% - 3rem);
    transition: $transition-main;
    // size
    height: 4rem;
    border-radius: .7rem;
    margin: 1.5rem auto;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    padding: .5rem;

    &:focus {
      border: .2rem solid $color-main;
    }
  }
}

.song {
  width: 100%;
  // size
  padding-bottom: 5rem;

  &:last-of-type {
    padding-bottom: 8rem;
  }

  &__title {
    text-align: center;
    color: $color-light;
    font-weight: $weight-regular;
    margin: 0;
    padding: 0;
    // size
    font-size: 2rem;
    padding-bottom: 2rem;
    letter-spacing: 0.15rem;

    a {
      color: $color-light;
      text-decoration: none;
    }

    &--author {
      text-transform: uppercase;
    }
  }

  &__audio-player {
    min-width: calc(100%) !important;
    max-width: calc(100%) !important;
    // size
    height: 6rem;

    .slider .gap-progress .pin,
    .slider .gap-progress {
      background-color: $color-main;
    }
  }

  &__additionals {
    color: $color-medium;
    font-weight: $weight-regular;
    width: 100%;
    // size
    padding-top: 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.12rem;

    a {
      color: $color-medium;
      transition: $transition-main;
      text-decoration: none;
    }

    a:hover {
      color: $color-light;
    }
  }
}