// colors
$color-main: #cf383e;
$color-light: #ffffff;
$color-medium: #bfbfbf;
$color-dark: #131313;
$color-dark-transparent: #13131300;
$color-active: #ffdd40;

// font-weight
$weight-black: 900;
$weight-bold: 700;
$weight-semibold: 600;
$weight-regular: 400;

// font-size
$size-root: 10px;

// transition
$transition-main: all .3s ease;