// normalize default styles
@import "normalize";

// Bootstrap
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";
@import "bootstrap/grid";

// variables
@import "variables";

// common styles
@import "layout";
@import "global";
@import "typography";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  background: #000;
  color: #ccc;
  position: relative;
  // padding-top: 200px;
}

.container {
  width: 100%;
  max-width: 610px;
  padding: 0 15px;
  margin: 0 auto;
}

.splash {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://i.postimg.cc/4ykw8kPP/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  position: relative;
  // position: fixed;
  // top: 0;
  // left: 0;
  transition: all .3s ease;
  z-index: 99;

  &.scroll {
    height: 200px;

    .page-title {
      font-size: 10rem;
      max-width: 51rem;
      line-height: 10rem;
    }

    .page-subtitle {
      font-size: 2.4rem;
      flex-direction: row;
      width: 100% !important;
      max-width: 33rem;
      flex-wrap: wrap;
    }
  }
}

.splash h1,
.splash p {
  z-index: 99;
  padding: 0;
  margin: 0;
  font-weight: 900;
  transition: all .3s ease;
}

.splash::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: red;
  background: linear-gradient(0deg, #000f 0%, #00000000 100%);
}

.page-title {
  font-size: 20rem;
  line-height: 20rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 102rem;
}

.page-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-align: center;
  widht: 500px;
  max-width: 180px;
  height: 170px;
}

// SONG

.song {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 7.5rem;

  a {
    color: #fff;
    text-decoration: none;

    &.author {
      text-transform: uppercase;
    }
  }

  h3 {
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-bottom: 5rem;
    letter-spacing: 2.25px;
    text-align: center;
  }

  .player {
    width: 100%;
    height: 8rem;

    .slider .gap-progress .pin {
      background-color: #cf383e;
    }

    .slider .gap-progress {
      background-color: #cf383e;
    }
  }

  .additionals {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #bfbfbf;
    font-weight: 400;
    letter-spacing: 1.5px;
  }

  &:last-of-type {
    padding-bottom: 15rem;
  }

}

// MENU

.main-nav {
  width: 100%;
  max-width: 575px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 11.5rem;

  .nav-link {
    color: #bfbfbf;
    text-decoration: none;
    transition: all .3s ease;

    &:hover {
      color: #fff;
    }

    &.active {
      color: #fff;
    }
  }

}

#pages {
  >* {
    display: none;
  }

  >.active {
    display: block;
  }
}

.banner {
  height: 100vh;
  background: url("https://i.postimg.cc/0Nr7zYks/subscribe.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: var(--before-opcity, 1);
  }

  &.visible {
    .title {
      top: 0;
    }
  }

  .title {
    font-size: 5rem;
    // font-size: 10rem;
    color: #fff;
    letter-spacing: 1rem;
    // letter-spacing: 2rem;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    position: absolute;
    top: -3.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 1.5rem;
    margin: 0;
    transition: all .3s ease;
    z-index: 99;

    .font-bold {
      font-weight: 900;
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 7rem 1.5rem 0;

    .button-col {
      order: 2;
    }

    .album-col {
      .album-row {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .author {
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: 1rem;
        line-height: 4.5rem;
        position: relative;

        .firstname {
          display: inline-block;
        }

        .lastname {
          position: absolute;
          top: 100%;
          left: 100%;
          transform: translateX(-50%);
        }

        .second-half {
          color: #cf383e;
        }
      }

      .album-cover {
        img {
          width: 100%;
          max-width: 35rem;
        }
      }

      .info {
        text-align: right;
        font-size: 2rem;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 2rem 0;

        &>* {
          padding: 0;
          margin: 0;
          letter-spacing: 0.4rem;
        }

        h4 {
          color: #bfbfbf;
          font-weight: 700;
        }

        p {
          color: #fff;
        }
      }
    }
  }
}

.button {
  font-size: 4rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.8rem;
  background: #cf383e;
  padding: 5.3rem 3.7rem;
  border-radius: 1rem;
  line-height: 2.7rem;
  display: inline-block;
  transform: scale(0.8);
}

footer {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  height: 90px;
  line-height: 90px;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.4rem;
  font-weight: 400;
}